{% extends '../base.html' %}
{% load static %}

{% block title %}All Products{% endblock %}
{% block cart_total %}{{cart_total}}{% endblock %}


{% block content %}
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Shoes</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/shoes/41Leu3gBUFL.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Phone</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/phones/71m05O2uNdL._SL1500_.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Laptops</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/laptops/71k3N4gxNeL._SL1486_.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Watch</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/watch/71uK-2cc7DL._UL1500_.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Shoes</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/shoes/41Leu3gBUFL.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Phone</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/phones/71m05O2uNdL._SL1500_.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Laptops</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/laptops/71k3N4gxNeL._SL1486_.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Watch</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/watch/71uK-2cc7DL._UL1500_.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Laptops</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/laptops/71k3N4gxNeL._SL1486_.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
<div style="width: 18rem;" class="shadow-lg bg-white mx-auto">
    <div class="text-center p-2 bg-blue-700 text-white">
        <h3 class="text-2xl font-semibold uppercase">Watch</h3>
    </div>
    <div class="object-cover h-64 overflow-hidden flex items-center justify-center px-8 py-4">
        <img class="" src="../static/watch/71uK-2cc7DL._UL1500_.jpg" alt="">
    </div>
    <a href="#!" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mt-8">View All Shoes</a>
</div>
{% endblock %}

{% block script%}

{% endblock %}

