{% extends '../base.html' %}
{% load static %}

{% block title %}All Products{% endblock %}
{% block sub_title %}Product Page{% endblock %}

{% block content %}
<div class="mx-auto container">
    <div class="flex align-start justify-around">
        <div class="w-1/3">
            <img src="{{product.image.url}}" alt="">
        </div>
        <div class="w-2/3 pl-10">
            <p class="font-semibold">Name: {{product.name}}</p>
            <p class="text-xl font-semibold">Price: 8282</p>
            <h5>Description:</h5>
            <p class="font-semibold"> 
                {{product.description|safe}}
            </p>
        </div>
    </div>
    <div>
        <a href="{% url 'add-cart' product.id %}" class="m-8 block text-center uppercase font-semibold rounded-md border-solid border-2 border-blue-500 text-sm text-blue-600 py-2 hover:bg-blue-200 mx-8">Add to cart</a>
    </div>
</div>
{% endblock %}

{% block script%}

{% endblock %}