{% extends '../base.html' %}
{% load static %}

{% block title %}All Products{% endblock %}
{% block sub_title %}All Products{% endblock %}
{% block cart_total %}{{cart_total}}{% endblock %}


{% block content %}

<div class="container mx-auto grid lg:grid-cols-4 sm:grid-cols-2 lg:gap-y-8 sm:gap-y-6">
{% for product in products %}
<div class="relative shadow-lg mx-auto bg-gray-300 rounded-lg w-64 overflow-hidden">
    <img class="w-full h-64 object-cover " src="{{product.image.url}}" alt="Anything.">
    <div class="p-4">
      <h4 class="font-medium text-gray-800  text-xs">{{product.name}}</h4>
      <p class="mb-1">Price: {{product.price}}</p>
      {% if product.quantity > 1 %}
      <span class="px-2 bg-teal-300 text-teal-900 uppercase rounded-full text-xs font-semibold tracking-wide absolute top-0 left-0 m-2 cursor-pointer ">In Stock</span>
      {%elif product.quantity < 1%}
      <span class="px-2 bg-red-300 text-red-900 uppercase rounded-full text-xs font-semibold tracking-wide absolute top-0 left-0 m-2 cursor-pointer ">Out Of Stock</span>
      {% endif %}
      <a class="hover:bg-teal-200 px-4 py-2 inline-block border-solid border-2 border-teal-500 uppercase text-xs text-teal-500 font-semibold" href="{% url 'product' product.pk %}">View Product</a>

    </div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block script%}

{% endblock %}