{% extends '../base.html' %}
{% load static %}

{% block title %}All Products{% endblock %}

{% block content %}
<div class="relative shadow-lg mx-auto bg-gray-300 rounded-lg w-64 overflow-hidden">
    <img class="w-full h-64 object-cover " src="https://images.unsplash.com/photo-1601191906024-54b4e490abae?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="Anything.">
    <div class="p-4">
      <h4 class="font-medium text-xl text-gray-800">Nike Sport Shoes</h4>
      <p class="mb-1">Price: 2599</p>
      <span class="px-2 bg-teal-300 text-teal-900 uppercase rounded-full text-xs font-semibold tracking-wide absolute top-0 left-0 m-2 cursor-pointer ">In Stock</span>
      <a class="hover:bg-teal-200 px-4 py-2 inline-block border-solid border-2 border-teal-500 uppercase text-xs text-teal-500 font-semibold" href="#!">Add To Cart</a>
    </div>
</div>
<div class="relative shadow-xl mx-auto bg-gray-300 rounded-lg w-64 overflow-hidden">
    <img class="w-full h-64 object-cover " src="https://images.unsplash.com/photo-1601191906024-54b4e490abae?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="Anything.">
    <div class="p-4">
      <h4 class="font-semibold text-xl text-gray-800">Nike Sport Shoes</h4>
      <p class="mb-1"><strong class="">Price: </strong>2599</p>
      <span class="px-2 bg-red-300 text-teal-900 uppercase rounded-full text-xs font-semibold tracking-wide absolute top-0 left-0 m-2 cursor-pointer ">Out Of Stock</span>
      <a class="hover:bg-teal-200 px-4 py-2 inline-block border-solid border-2 border-teal-500 uppercase text-xs text-teal-500 font-semibold" href="#!">Add To Cart</a>
    </div>
</div>
<div class="relative shadow-lg mx-auto bg-gray-300 rounded-lg w-64 overflow-hidden">
    <img class="w-full h-64 object-cover " src="https://images.unsplash.com/photo-1601191906024-54b4e490abae?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="Anything.">
    <div class="p-4">
      <h4 class="font-medium text-xl text-gray-800">Nike Sport Shoes</h4>
      <p class="mb-1">Price: 2599</p>
      <span class="px-2 bg-teal-300 text-teal-900 uppercase rounded-full text-xs font-semibold tracking-wide absolute top-0 left-0 m-2 cursor-pointer ">In Stock</span>
      <a class="hover:bg-teal-200 px-4 py-2 inline-block border-solid border-2 border-teal-500 uppercase text-xs text-teal-500 font-semibold" href="#!">Add To Cart</a>
    </div>
</div>
<div class="relative shadow-lg mx-auto bg-gray-300 rounded-lg w-64 overflow-hidden">
    <img class="w-full h-64 object-cover " src="https://images.unsplash.com/photo-1601191906024-54b4e490abae?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="Anything.">
    <div class="p-4">
      <h4 class="font-medium text-xl text-gray-800">Nike Sport Shoes</h4>
      <p class="mb-1">Price: 2599</p>
      <span class="px-2 bg-teal-300 text-teal-900 uppercase rounded-full text-xs font-semibold tracking-wide absolute top-0 left-0 m-2 cursor-pointer ">In Stock</span>
      <a class="hover:bg-teal-200 px-4 py-2 inline-block border-solid border-2 border-teal-500 uppercase text-xs text-teal-500 font-semibold" href="#!">Add To Cart</a>
    </div>
</div>
{% endblock %}

{% block script%}

{% endblock %}